html {
  font-size: 62.5%;
}

/* *{
    margin: 0;
    padding: 0;
} */

.footer-bar {
  font-size: 1.6rem;
  width: 100%;
  margin: 0 auto;
  align-items: center;
  background-color: black;
  padding: 1rem 0;
  position: absolute;
  bottom: 0;
  display: flex;
  justify-content: space-around;
  z-index: 10;
  /* transform: translateY(100%); */
}

.footer-icon {
  width: 3.2rem;
  height: 3.2rem;
  stroke: #fff;
}
