.main_map {
  background-color: beige;
  /* height: 85vh; */
  max-height: 100%;
  /* border-radius: 1rem; */
  position: relative;
  background-color: hsl(0, 0, 0.7%);
  /* background-image: url("./images/hero-logo.png"); */
  background-blend-mode: overlay;
}
