* {
  margin: 0;
  padding: 0;
}
body {
  /* width: 100%; */
  overflow-x: hidden;
  /* overflow-y: hidden; */
}
html {
  font-size: 62.5%;
}

.app {
  /* position: relative; */
  /* overflow-x: hidden; */
}

/* Navbar */

.navbar {
  padding-bottom: 1px;
  border-bottom: solid 1px #e8e8e8;
  box-shadow: 0 3px 6px -2px rgba(0, 0, 0, 0.12),
    0 6px 16px -11px rgba(0, 0, 0, 0.08);
  position: sticky;
  top: 0;
  margin-bottom: 20px;
  z-index: 99990;
  /* width: 100%; */
  background-color: #fff;
  /* backdrop-filter: blur(10px); */
}

.nav-header {
  background-color: white;
  border-bottom: 0;
  padding: 0 4px 0 24px;
  /* background-color: rgba(0, 0, 0, 0.5); */
  backdrop-filter: blur(50px);
  opacity: 0.9;
}

.logo {
  width: 200px;
  float: left;
}

.logo a {
  display: inline-block;
  font-size: 20px;
  text-transform: capitalize;
}

.navbar-menu {
  width: calc(100% - 200px);
  /* float: left; */
  display: flex;
  justify-content: space-between;
  align-items: center;
}
.navbar-menu .ant-layout-header {
  padding: 0 20px;
}

.navbar-menu .ant-menu-horizontal {
  border-bottom: 0;
}

.navbar-menu .ant-menu-item {
  padding-bottom: 0px;
}

.navbar-menu .leftMenu {
  float: left;
}

.navbar-menu .rightMenu {
  float: right;
  /* display: flex; */
  width: 10%;
}

.menuButton {
  float: right;
  height: 32px;
  padding: 6px;
  margin-top: 14px;
  /* margin-right: 4rem; */
  display: none;
  background: none;
  margin-right: 10px;
}

.ant-drawer-body {
  padding: 0;
}

.ant-drawer-body .ant-menu-horizontal > .ant-menu-item,
.ant-drawer-body .ant-menu-horizontal > .ant-menu-submenu {
  display: inline-block;
  width: 100%;
}

.ant-drawer-body .ant-menu-horizontal {
  border-bottom: none;
}

.ant-drawer-body .ant-menu-horizontal > .ant-menu-item:hover {
  border-bottom-color: transparent;
}

.username {
  display: none;
  margin-left: 8px;
}

@media (max-width: 767px) {
  .menuButton {
    display: block;
    margin-right: 10px;
  }

  .leftMenu,
  .rightMenu {
    display: none;
  }

  .logo a {
    margin-left: -10px;
  }

  .ant-drawer-title > .brand-font {
    margin-bottom: 0;
    font-family: "Poppins", sans-serif;
    font-size: 2.4rem;
  }

  .username {
    display: inline-block;
  }
}

/* Navbar End */

/* Navigation */

.main--navigation {
  width: 100%;
  position: absolute;
  display: flex;
  justify-content: space-evenly;
  gap: 3.2rem;
  align-items: center;
  font-family: "Poppins", sans-serif;
  backdrop-filter: blur(10px);
}

.main--navigation ul {
  display: flex;
  list-style: none;
  gap: 4.8rem;
  font-size: 2.4rem;
}

.main--header {
  /* position: relative; */
  /* background-image: url("./Images/heroImg.jpg"); */
  background: linear-gradient(to bottom, rgba(0, 0, 0, 0) 20%, rgba(0, 0, 0, 1)),
    url("./Images/heroImg.jpg");
  width: 100vw;
  height: 100vh;
  background-repeat: no-repeat;
  background-size: cover;
  background-blend-mode: overlay;
  background-color: hsla(0, 0%, 0%, 0.3);
  color: #fff;

  font-size: 2.4rem;
}

.main--header--text {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  font-family: "Poppins", sans-serif;
  font-size: 4.8rem;
  font-weight: 700;
  text-align: center;
  width: 70%;
}

.header--subtext {
  font-size: 2.4rem;
  font-weight: 600;
}

.header--typed {
  font-size: 2.4rem;
  font-weight: 400;
}
.main--generate {
  position: absolute;
  background-color: #fff;
  color: #000;
  bottom: 0;
  left: 50%;
  transform: translate(-50%, 50%);
  border-radius: 1.6rem;
  /* height: 50vh; */
  width: 75vw;
  opacity: 1;
  padding: 1.6rem 3.2rem;
  font-family: "Poppins", sans-serif;
  /* box-shadow: 20px 20px 10px 10px #000; */
}

.generate--header {
  font-size: 3.2rem;
  font-weight: 600;
}

.generate--grid {
  display: grid;
  grid-template-columns: repeat(4, 1fr);
  column-gap: 4.8rem;
  row-gap: 3.2rem;
  padding: 0rem 6.4rem;
  margin-top: 3.2rem;
}

.generate--grid .from,
.generate--grid .to {
  grid-column: span 2;
}

.from,
.to,
.date--from,
.date--to,
.budget,
.mode {
  display: flex;
  gap: 3.6rem;
  align-items: center;
}

.generate--grid label {
  font-size: 1.6rem;
  width: 2.4rem;
}

.generate--grid input,
.generate--grid select {
  width: 100%;
  outline: none;
  border: none;
  border-bottom: 1px solid black;
  font-size: 1.6rem;
}

.cta--btns {
  display: flex;
  justify-content: space-between;
  padding: 3.2rem 6.4rem;
}

.services--main {
  background-color: #000;
  padding-top: 25vh;
  padding-bottom: 9.6rem;

  color: #fff;
}

.services--header {
  padding: 9.6rem 0;
  text-align: center;
  font-size: 4.8rem;
  font-family: "Poppins", sans-serif;
  font-weight: 600;
}

.all--services {
  font-family: "Poppins", sans-serif;
  padding: 0 9.6rem;
  display: grid;
  justify-items: center;
  align-content: space-between;
  grid-template-columns: repeat(5, 1fr);
  text-align: center;
  font-size: 2rem;
}

.service--icon {
  height: 7.2rem;
}

.service {
  display: flex;
  flex-direction: column;
  gap: 1.6rem;
}

.works--main {
  padding: 9.6rem 0;
}

.header {
  text-align: center;
  font-size: 4.8rem;
  font-family: "Poppins", sans-serif;
  font-weight: 600;
  color: white;
}

.destination--main {
  padding: 9.6rem 0;
}

.text {
  text-align: center;
  font-family: "Poppins", sans-serif;
  font-size: 2.4rem;
  color: white;
}

.destinations {
  display: grid;
  grid-template-columns: 3fr 2fr;
  margin: 9.6rem 12.8rem;
  padding: 0 6.4rem;
  gap: 1.6rem;
  /* height: 60vh; */
}

.destination {
  grid-auto-rows: 300px;
}

.destination div img {
  width: 100%;
  height: 100%;
}

.footer-section-padding {
  padding: 2rem 2rem;
}

.footer {
  background-color: #000;
  font-family: Arial, Helvetica, sans-serif;
  font-size: 1.6rem;
  font-family: "Poppins", sans-serif;
}

h4 {
  font-weight: bold;
  font-size: 1.6rem;
  text-decoration: double;
  text-shadow: 1px 1px 2px rgba(0, 0, 0, 0.5); /* Shadow effect */
}

.footer-links {
  display: flex;
  justify-content: space-evenly;
  align-items: flex-start;
  flex-direction: row;
  flex-wrap: wrap;
  width: 100%;
  text-align: left;
  margin-bottom: 2rem;

  /* display: grid;
  grid-template-columns: repeat(4, 1fr);
  justify-items: center; */
}

/* @media (max-width: 50em) {
  .footer-links {
    grid-template-columns: repeat(2, 1fr);
  }
} */

.footer-links-div {
  /* width: 150px; */
  margin: 1rem 0;
  display: flex;
  justify-content: flex-start;
  flex-direction: column;
  color: white;
  gap: 2.4rem;
}

a {
  color: whitesmoke;
  text-decoration: none;
}

.social-media-icons {
  display: flexbox;
  flex-direction: row;
}

.social-media-set {
  display: flexbox;
  /* margin: 1rem 0; */
}

.social-media-link {
  display: flex;
  align-items: center;
  text-decoration: none;
}

.social-media-link span {
  margin-left: 5px;
}

.footer-links-div {
  font-size: 1.4rem;
  line-height: 15px;
  margin: 0.5rem 0;
  cursor: pointer;
}

.footer-links-div > div {
  display: flex;
  flex-direction: column;
  gap: 1.6rem;
}

.footer-links-div > div a {
  transition: all 0.5s ease;
}

.footer-links-div > div a:hover {
  transform: scale(1.1);
}

.footer-below-links {
  display: flex;
  justify-content: space-evenly;
  flex-wrap: wrap;
  margin: 5px;
  flex-direction: row;
}

.footer-below-links a {
  text-decoration: none;
  color: whitesmoke; /* Adjust color as needed */
  margin-bottom: 5px; /* Add spacing between links */
}

.footer-below-links a:hover {
  color: #ffffff; /* Adjust hover color as needed */
}

.footer-copyright {
  text-align: center;
  color: #f1f1f1;
  font-size: 14px;
  margin-top: 20px;
}

.footer-copyright p {
  margin: 0;
}

.footer-copyright span {
  font-weight: bold;
  color: #2d9596; /* Teal color */
}

@media screen and (max-width: 850px) {
  .footer-heading h1 {
    font-size: 44px;
    line-height: 50px;
  }
}

@media screen and(max-width:550px) {
  .footer-heading h1 {
    font-size: 34px;
    line-height: 42px;
  }

  .footer-links div {
    margin: 1rem 0;
  }

  .footer-btn p {
    font-size: 14px;
    line-height: 20px;
  }

  .footer-below {
    flex-direction: column;
    justify-content: left;
  }

  .footer-below-links p {
    margin-left: 0rem;
    margin-top: 1rem;
  }
}

@media screen and (max-width: 400px) {
  .footer-heading h1 {
    font-size: 27px;
    line-height: 38px;
  }
}

@media (max-width: 75em) {
  html {
    font-size: 56.25%;
  }

  .generate--grid {
    grid-template-columns: repeat(2, 1fr);
  }

  .all--services {
    grid-template-columns: repeat(3, 1fr);
    row-gap: 4.8rem;
  }
}

@media (max-width: 62.5em) {
  html {
    font-size: 50%;
  }
}

@media (max-width: 50em) {
  html {
    font-size: 43.75%;
  }
}
@media (max-width: 34.375em) {
  html {
    font-size: 37.5%;
  }
  .main--header {
    height: 75vh;
  }
}
@media (max-width: 30em) {
  /* html {
    /* font-size: 37.5%; */
  /* } */
  .generate--grid {
    grid-template-columns: 1fr;
  }
  .generate--grid .from,
  .generate--grid .to {
    grid-column: span 1;
  }
}
